.book {
    opacity: 1;
}

.book:hover {
    opacity: 0.8;
}

.bookResponsive {
    width: "207px"!important;
    height: "444px"!important;
}

.imageStyle {
    border-radius: "5px";
    width: "177px" !important;
    height: "279px" !important;
}

::-webkit-scrollbar {
    width: 0px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: skyblue;
    box-shadow: inset 0 0 5px gray;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb {
    background: #a5ffff7c;
}

::-webkit-scrollbar-thumb:hover {
    background: #a5ffff;
}

@media(max-width:"768px") {
    .bookResponsive {
        width: "15px";
        height: "15px";
    }

    .imageStyle {
        width: "10px";
        height: "50px";
    }
}